registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/
always-auth=true
email=dbenge@adobe.com
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/:_auth="ZGJlbmdlOmNtVm1kR3R1T2pBeE9qRTNOakkwTURjd05qazZURWt4T0c1NGFXcFRlVmRYWVhOUFZqUkhjR1k0UTBGSlYwODI="
